.vector-section
  padding-top: 1em
  padding-bottom: 1em
  text-align: center
  color: #fff
  background-color: color_blue

  > .vector-wrapper
    width: 80%
    margin-top: 2.5em
    margin-bottom: 2.5em
    @extend .centralized

  > .description-wrapper
    padding-right: 1em
    padding-left: 1em
    set_font-weight(light)
    text-align: left
