// SETTINGS
@import 'settings/_colors'
@import 'settings/_fonts'


// TOOLS
@import 'tools/_mixins'


// GENERIC
@import 'generic/_reset'
@import 'generic/_boxsizing'


// BASE
@import 'base/_general'
@import 'base/_headings'


// OBJECTS
@import 'objects/_general'
@import 'objects/_titles'
@import 'objects/_buttons'
@import 'objects/_centralized'


// COMPONENTS
@import 'components/_general'

/* Main Header */
@import 'components/main-header/_general'
@import 'components/main-header/_main-nav'

/* Top Section */
@import 'components/top-section/_general'
@import 'components/top-section/_services-list'
@import 'components/top-section/_creativity-bg'

/* Vector Section */
@import 'components/vector-section/_general'

/* Team Section */
@import 'components/team-section/_general'

/* Main Footer */
@import 'components/main-footer/_general'
