.main-footer
  padding-top: 1em
  padding-bottom: 1em
  color: #fff
  text-align: center
  background-color: color_blue

  > .links-wrapper
    margin-bottom: 2.5em
    text-align: left

    > .links-list
      &:not(:last-child)
        margin-bottom: 1em

      > .item > .link
        set_font-size(14px)
        line-height: 1.5
        color: #fff

  > .whatever
    set_font-weight(light)
