.team-section
  padding-top: 1em
  padding-bottom: 1em
  background-color: color_lightgray

  > .team-list
    margin-top: 2em
    text-align: center

    > .collaborator
      width: 70%
      @extend .centralized
      color: color_gray

      &:not(:last-child)
        margin-bottom: 2em

      > .photo
        width: 50%
        border-radius: 50%
        /* @media 768px */
        @media (min-width: 768px)
          width: 30%

      > .office
        margin-top: 0
        margin-bottom: 0

      > .description
        set_font-weight(light)
