.team-section
  padding-top: 1em
  padding-bottom: 1em
  background-color: color_lightgray

  > .team-list
    margin-top: 2em
    text-align: center
    /* @media 1024px */
    @media (min-width: 1024px)
      width: 70%
      @extend .centralized

    > .collaborator
      width: 70%
      @extend .centralized
      color: color_gray

      &:not(:last-child)
        margin-bottom: 2em

      /* @media 1024px */
      @media (min-width: 1024px)
        display: inline-block
        width: calc(100% / 4 - 1em)

      > .photo
        width: 50%
        border-radius: 50%
        /* @media 768px */
        @media (min-width: 768px)
          width: 30%

      > .office
        margin-top: 1em
        margin-bottom: 0

      > .description
        set_font-weight(light)
        /* @media 1024px */
        @media (min-width: 1024px)
          width: 80%
          @extend .centralized
