.creativity-bg
  height: 200px
  background-image: url('../images/creativity-banner.png')
  background-size: cover

  > .button-wrapper
    transform: translateY(250%)

    > .button
      box-shadow: 0 0 10em 35px #fff
