.top-section
  background-image: linear-gradient(#fff, color_lightgray 5%, #fff 100%)
  /* @media 1024px */
  @media (min-width: 1024px)
    padding-top: 5em
    text-align: center

  > .featuredimage
    width: 60%
