.services-list
  margin-top: 2.5em
  text-align: center
  /* @media 1024px */
  @media (min-width: 1024px)
    width: 90%
    @extend .centralized

  > .service
    width: 80%
    @extend .centralized
    /* @media 1024px */
    @media (min-width: 1024px)
      display: inline-block
      width: calc(100% / 4 - 1em)

    &:not(:last-child)
      margin-bottom: 2.5em
      /* @media 1024px */
      @media (min-width: 1024px)
        margin-right: 1em

    > .servicename
      margin-top: 1em
      margin-bottom: 0
      color: color_darkgray

    > .description
      color: color_gray
      set_font-weight(light)
      line-height: 1.5
