.testimonials-section
  padding-top: 1.5em
  padding-bottom: 1em
  text-align: center

  > .testimonial
    color: color_gray
    set_font-weight(light)

    > .avatar
      width: 40%
      border-radius: 50%

    > .author
      color: color_darkgray
      set_font-weight(regular)

      > .from
        set_font-weight(light)

