.testimonials-section
  padding-top: 1.5em
  padding-bottom: 1em
  text-align: center

  > .testimonial
    color: color_gray
    set_font-weight(light)
    /* @media 1024px */
    @media (min-width: 1024px)
      width: 40%
      @extend .centralized

    > .avatar
      width: 40%
      border-radius: 50%
      /* @media 768px */
      @media (min-width: 768px)
        width: 20%

    > .author
      color: color_darkgray
      set_font-weight(regular)

      > .from
        set_font-weight(light)

