.button-wrapper
  margin-bottom: 1.5em
  text-align: center

  > .button
    padding: 1em 3em
    set_font-weight(semibold)
    set_font-size(12px)
    border: none
    border-radius: 1.8em

  > .-pink
    color: #fff
    background-color: color_pink

  > .-blue
    color: #fff
    background-color: color_blue

  > .-white
    color: color_blue
    background-color: #fff
