.title-wrapper
  text-align: center

  > .title
    margin-bottom: 0
    color: color_blue
    set_font-size(32px)

  > .-white
    color: #fff


  > .subtitle
    margin-top: 0
    set_font-weight(light)
    color: color_lightgray

  > .-blue
    color: color_blue
