.main-nav

  > .menu-list

    > .menu
      padding-top: 0.5em
      padding-bottom: 0.5em

      &:not(:last-child)
        border-bottom: 1px dotted color_gray

      > .link
        color: color_blue

        &:hover
          color: color_gray
