.main-nav
  height: 0
  overflow-y: hidden
  transition: 0.5s
  /* @media 1024px */
  @media (min-width: 1024px)
    display: inline-block
    float: right
    height: 100%
    margin-top: 1.5em
    overflow-y: initial

  > .menu-list
    margin-bottom: 1em
    /* @media 1024px */
    @media (min-width: 1024px)
      display: inline-block

    > .menu
      padding-top: 0.5em
      padding-bottom: 0.5em

      &:not(:last-child)
        border-bottom: 1px dotted color_gray
        /* @media 1024px */
        @media (min-width: 1024px)
          margin-right: 1em
          border: none

      /* @media 1024px */
      @media (min-width: 1024px)
        display: inline-block

        &:first-child > .link
          padding: 0.5em 1em
          border: 1px solid color_gray
          border-radius: 2em

      > .link
        color: color_blue

        &:hover
          color: color_gray

  > .social-list
    /* @media 1024px */
    @media (min-width: 1024px)
      display: inline-block
      float: right
      margin-left: 1.5em

    > .network
      display: inline-block
      width: 35px
      height: 35px

      &:not(:last-child)
        margin-right: 0.5em

      > .link
        display: block
        height: 100%

        &[href*="facebook"]
          background-image: url('../images/facebook.png')
          background-size: contain
        &[href*="twitter"]
          background-image: url('../images/twitter.png')
          background-size: contain

.-open
  height: 240px
